.benefits_page {
  .benefit_wrapper {
    overflow: hidden;
    background: linear-gradient(#122004, #111f05);

    h1 {
      font-family: Fira Sans Extra Condensed, serif;
      color: #ffffff;
      opacity: 0;
      text-align: center;
      animation: h1_appear 1s 1.5s ease forwards;
    }
  }

  .formats_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 10px 18px;
    background: url(../../../public/images/3background.png);
    background-size: cover;

    .top_text_block {
      font-family: Cormorant SC, serif;
      color: #fff;
      padding-top: 10lvh;
      text-align: center;

      h1 {
        font-weight: normal;
        font-size: 32px;
      }

      p {
        font-family: Cormorant, serif;
        font-size: 24px;
      }
    }

    img {
      width: 60px;
    }
  }
}

@keyframes benefit_appear {
  to {
    margin-top: 0;
  }
}

@keyframes h1_appear {
  to {
    margin-top: 32px;
    opacity: 100%;
  }
}

@keyframes benefits_line_appear {
  to {
    margin: 0 12.5vw;
    gap: 20px;
    opacity: 100%;
  }
}
