.benefits_line_container {
  display: flex;
  position: relative;
  overflow: auto;
  overflow-y: hidden;
  margin-top: 20px;

  &::-webkit-scrollbar {
    opacity: 0;
  }

  .benefits_line {
    padding: 20px 0;
    display: flex;
    margin-left: -300px;
    gap: 0;
    opacity: 0;
    animation: 1.2s 0.5s ease forwards;
  }
}

@keyframes benefits_line_appear {
  to {
    margin: 0 12.5vw;
    gap: 10px;
    opacity: 100%;
  }
}
